<div id="wrapper">
    <div ng-show="userLoggedIn">
    
        <!-- Navigation -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
            
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green" style="cursor:pointer;"  data-toggle="collapse" data-target="#artists" >
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-calendar fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{totalArtists}}</div>
                                    <div>Total Artists</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green" style="cursor:pointer;" data-toggle="collapse" data-target="#popularevents">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa fa-fire fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{totalEvents}}</div>
                                    <div>Popular Events</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green" style="cursor:pointer;" data-toggle="collapse" data-target="#qEvents">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{totalQueuedEvents}}</div>
                                    <div>Queued For Purchase Events</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green" style="cursor:pointer;" data-toggle="collapse" data-target="#purchasedEvents">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa fa-money fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{totalPurchasedEvents}}</div>
                                    <div>Purchased Events</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                

            </div>
            <h1 class="page-header">Event Data</h1>

            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                        <div class="card">
                                            <div id="artists" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                                <div class="card-body">
                                                        
                                                        <table id="artists" class="table table-bordered table-hover table-striped">  
                                                                <thead>  
                                                                    <tr>  
                                                                        <th>Name</th>  
                                                                        <th>Popularity</th>  
                                                                        <th>Followers</th>  
                                                                    </tr>  
                                                                </thead>  
                                                                <tbody>  
                                                                    <tr ng-repeat="artist in artists | orderBy:'popularity':true">  
                                                                        <td>{{artist.name}}</td>  
                                                                        <td>{{artist.popularity}}</td>  
                                                                        <td>{{artist.followers}}</td>  
                                                                    </tr>  
                                                                </tbody>  
                                                            </table>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div id="popularevents" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                                <div class="card-body">
                                                        <table id="events" class="table table-bordered table-hover table-striped">  
                                                                <thead>  
                                                                    <tr> 
                                                                       
                                                                        <th>Event Name</th>
                                                                        <th>On sale start date</th>
                                                                        <th>View More Info</th>
                                                                        <th>Queue for purchase</th>
                                                                    </tr>  
                                                                </thead>  
                                                                <tbody>  
                                                                    <tr class="event" ng-repeat="event in popularEvents | orderBy:'onsaleStartDateTime':true" >  
                                                                        <td>{{event.eventName}}</td> 
                                                                        <td>{{event.onsaleStartDateTime}}</td>
                                                                        <td><a ng-click="goToEvent(event.eventId)" target="_blank">Link</a></td>
                                                                        <td data-eventid="{{event.eventId}}"><a class="purchase" style="cursor:pointer;" ng-click="queueForPurchase(event.eventId)"><i class="glyphicon glyphicon-shopping-cart"></i></a></td>  
                                                                    </tr>  
                                                                </tbody>  
                                                            </table>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="card">
                                                <div id="qEvents" class="collapse" >
                                                    <div class="card-body">
                                                            <table id="queuedevents" class="table table-bordered table-hover table-striped">  
                                                                <thead>  
                                                                    <tr> 
                                                                        <th>Event Name</th>
                                                                        <th>On sale start date</th>
                                                                        <th>View More Info</th>
                                                                    </tr>  
                                                                </thead>  
                                                                <tbody>  
                                                                    <tr class="event" ng-repeat="event in queuedEvents | orderBy:'onsaleStartDateTime':true" >  
                                                                        <td>{{event.eventName}}</td> 
                                                                        <td>{{event.onsaleStartDateTime}}</td>
                                                                        <td><a ng-click="goToEvent(event.eventId)" target="_blank">Link</a></td>                                                                    </tr>  
                                                                </tbody>  
                                                            </table>
                                                    </div>
                                                </div>
                                            </div>
                                        

                                            <div class="card">
                                                <div id="purchasedEvents" class="collapse" >
                                                    <div class="card-body">
                                                            <table id="purchasedevents" class="table table-bordered table-hover table-striped">  
                                                                <thead>  
                                                                    <tr> 
                                                                        <th>Event Name</th>
                                                                        <th>On sale start date</th>
                                                                        <th>View More Info</th>
                                                                    </tr>  
                                                                </thead>  
                                                                <tbody>  
                                                                    <tr class="event" ng-repeat="event in purchasedEvents | orderBy:'onsaleStartDateTime':true" >  
                                                                        <td>{{event.eventName}}</td> 
                                                                        <td>{{event.onsaleStartDateTime}}</td>
                                                                        <td><a ng-click="goToEvent(event.eventId)" target="_blank">Link</a></td>                                                                    </tr>  
                                                                </tbody>  
                                                            </table>
                                                    </div>
                                                </div>
                                            </div>

                                            <h4 style="color:grey;">Press a card above to reveal data</h4>



                                    <!-- /.table-responsive -->
                                </div>

                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>

                    <!-- /.panel -->
                </div>

            </div>

            <h1 class="page-header">Statistics</h1>
            <div class="row">
                <div class="col-md-2 col-md-2">
                    <div class="panel panel-green" >
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-s-9 text-center">
                                    <b>Profit</b>: ${{statistics.profit}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{isAdmin}}
                <h1 ng-if"isAdmin == true">meme</h1>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
</div>