<div id="wrapper">
            <!-- Navigation -->
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>{{eventData.eventName}}</h1>
                        <hr>
                        <b>Event ID</b>: {{eventData.eventId}} <br>
                        <b>Artist name</b>: {{eventData.eventArtist}} <br>
                        <b>Event URL</b>: <a ng-href="{{eventData.primaryEventUrl}}" target="_blank">Click to view</a> <br> 
                        <b>Event start time</b>: {{eventData.startDateTime}} <br>
                        <b>Min Price</b>: {{eventData.minPrice}} <br>
                        <b>Max Price</b>: {{eventData.maxPrice}} <br>
                        <b>Public Sales</b>: <br>
                        <table id="queuedevents" class="table table-bordered table-hover table-striped">  
                            <thead>  
                                <tr> 
                                    <th>Start Date Time</th>
                                    <th>End date time</th>  
                                    <th>Announced?</th>  
                                </tr>  
                            </thead>  
                            <tbody>  
                                <tr class="sale">  
                                    <td>{{publicSales.startDateTime}}</td>  
                                    <td>{{publicSales.endDateTime}}</td> 
                                    <td>{{publicSales.startTBD}}</td>
                                </tr>  
                            </tbody>  
                        </table>

                        <b>Pre Sales</b>: <br>
                        <table id="queuedevents" class="table table-bordered table-hover table-striped">  
                            <thead>  
                                <tr>
                                    <th>Name</th>
                                    <th>Start Date Time</th>
                                    <th>End date time</th>  
                                </tr>  
                            </thead>  
                            <tbody>
                                <tr class="presale" ng-repeat="presale in preSales">
                                    <td>{{presale.name}}</td>
                                    <td>{{presale.startDateTime}}</td>
                                    <td>{{presale.endDateTime}}</td>
                                </tr>
                            </tbody>  
                        </table>

                        <br>
                        <b>Seat Map</b>: <br>
                        <td><a ng-href="{{eventData.seatMap}}" target="_blank"><img src="{{eventData.seatMap}}"></a></td> <br>

                        <hr>
                        <div ng-show="isQueued">
                            <h1>Purchase information</h1>

                            <div ng-show="!purchased">
                                <form class="col-md-2" name="purchaseForm" ng-submit="inputNewEvent()" role="form">
                                    <input type="text" 
                                        class="form-control"
                                        ng-model="purchaseData.purchasePrice" 
                                        placeholder="Purchase Price"></input>
                    
                                    <input type="text"
                                            class="form-control"
                                            ng-model="purchaseData.listingPrice"
                                            placeholder="Listing Price"></input>
                                    
                                    <input type="text"
                                            class="form-control"
                                            ng-model="purchaseData.resalePrice"
                                            placeholder="Resale Price"></input>
                                    <br/>
                                    <button  class="btn btn-primary" type="submit">Submit Purchase Data</button>
                                </form>
                            </div>  
                        </div>
                        <div ng-show="purchased">
                            <h1>Purchase information</h1>
                            <form class="col-md-3" name="updatePurchasePriceForm" ng-submit="updatePurchasePrice()" role="form">
                                <input type="text" 
                                    class="form-control"
                                    ng-model="purchaseData.purchasePrice" 
                                    placeholder="Updated Purchase Price"></input>
                                <br/>
                                <button class="btn btn-primary" type="submit">Update Purchase Price</button>
                            </form>
                            <form class="col-md-3" name="updateListingPriceForm" ng-submit="updateListingPrice()" role="form">
                                <input type="text" 
                                    class="form-control"
                                    ng-model="purchaseData.listingPrice" 
                                    placeholder="Updated Listing Price"></input>
                                <br/>
                                <button class="btn btn-primary" type="submit">Update Listing Price</button>
                            </form>
                            <form class="col-md-3" name="updateResalePriceForm" ng-submit="updateResalePrice()" role="form">
                                <input type="text" 
                                    class="form-control"
                                    ng-model="purchaseData.resalePrice" 
                                    placeholder="Updated Resale Price"></input>
                                <br/>
                                <button class="btn btn-primary" type="submit">Update Resale Price</button>
                            </form>
                        </div>
                </div>
            </div>
</div>